/* Estilos para el contenedor principal */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ajusta la altura según sea necesario */
  }
  
  /* Estilos para la barra de navegación */
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar h1 {
    margin: 0;
  }
  
  .main-content {
    display: flex;
    flex: 1;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    width: 100%; /* Ocupa toda la anchura */
  }
  
  
  /* Estilos para la barra lateral */
  .sidebar-container {
    width: 250px; /* Ajusta el ancho según sea necesario */
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  /* Estilos para el contenido dentro de la barra lateral */
  .sidebar-list-item {
    margin-bottom: 10px;
  }
  
  /* Estilos para el contenido principal */
  .content-container {
    
    /* flex: 1;
    padding: 20px; */
  }
  
  /* Estilos para el texto dentro del contenido */
  .text-container {
    text-align: center;
  }
  
  /* Estilos para el spinner de carga */
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  