/* Estilos para el contenedor del sidebar */
.sidebar-container {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título */
.sidebar-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para el contenido del sidebar */
.sidebar-content {
  display: flex;
  flex-direction: column;
}

/* Estilos para los nombres de usuario */
.sidebar-list-username {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Estilos para el estado de conexión */
.sidebar-list-status {
  font-size: 16px;
  color: #777;
}

/* Estilos para los programadores en línea */
.sidebar-list-username.online,
.sidebar-list-status.online {
  color: green;
}

/* Estilos para los programadores desconectados */
.sidebar-list-username.offline,
.sidebar-list-status.offline {
  color: red;
}

/* Estilos para las habilidades */
.sidebar-skills {
  margin-top: 10px;
}

.sidebar-skills-title {
  font-size: 16px;
  font-weight: bold;
}

.sidebar-skills-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-skill {
  font-size: 14px;
  color: #555;
  margin-left: 20px;
}
