/* Estilos para el contenedor del navbar */
.navbar {
    display: flex; /* Cambia el diseño a flexbox */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  /* Estilos para el logo */
  .navbar-logo {
    font-size: 24px;
  }

  .imgNav {
    background-image: url("../../assets/img/logo.jpg");
    min-height: 100px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Estilos para los enlaces */
  .navbar-links {
    display: flex; /* Cambia el diseño a flexbox */
    list-style: none; /* Quita los estilos de la lista */
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para los ítems de la lista */
  .navbar-links li {
    margin-right: 20px;
  }
  
  /* Estilos para los enlaces */
  .navbar-links a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para los enlaces al pasar el ratón sobre ellos */
  .navbar-links a:hover {
    text-decoration: underline;
  }
  