.task-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.photo {
    display: flex;
    align-items: center;
}

.login {
    padding: 10px 20px;
    border: 1px solid #d0cbcb;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--green);
}
